.page {
    margin: 0px;
    padding: 0px;
    width: auto;
    background-color: #FFF;
    background-position: center bottom;

}
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#logo{
    position: absolute;
    top: 5px;
    left: 5%;
}
.content {
    min-height:400px;
    height:100%;
    color: #000;
    z-index: 0;
}
.gadget {
    color:#444;
    float:left;
    background-color: rgba(245,245,245,0.3);
    min-height:5px;
    width: 260px;
    border:solid 1px whitesmoke;
    padding: 5px;
    font-size: 65%;
}

.gadget .php_inf{
    padding: 5px;
    margin: 4px;
    border:solid 1px #fff;
    box-shadow: 0px 1px 0px #ddd;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
    background-color: #fefefe;
    font-weight: 700;
}

.gadget .php_inf span{
    font-weight: bold;
    color:#269ccb;
}

.gadget img{
    margin-left:auto;
    margin-right:auto;
    position: static;
    clip: rect(auto,auto,auto,auto);
    padding: 10px;
}
.top {

    background-color:#eee;
    height: 115px;
    background-repeat: repeat-x;
    background-position: top;
    z-index: 5;
    position: relative;
    border-bottom: solid 1px #ccc;
}
.bottom {

    background-color:#eee;
    height: 115px;
    background-repeat: repeat-x;
    background-position: bottom;
    z-index: 5;
    position: relative;
   border-top: solid 1px #ccc;
}
.body{
    position:absolute;
    z-index:1;
    min-height:5px;
    background-color: #fff;
    width: 60%;
    float:left;
    margin-left:300px;

    padding: 5px;
    color: #666;
    text-shadow: 0px 0px 3px #ccc;
    overflow-x: none;
    overflow-y: auto;
    padding-left:25px;
}
a:link {
    text-shadow: 0px 0px 3px #ccc;
    color: #333;
    text-decoration: none;
    font-weight: 700;
}
a:visited {
    text-decoration: none;
    color: #6CF;
}
a:hover {
    text-decoration: none;
    color: #000;
}
a:active {
    text-decoration: none;
    color: #FFF;
}
a {
    font-weight: bold;
}
.handle_back{
    height: 45px;
    font-size:11px;
    font-family: monospace;
    border:solid #fff 1px;
    padding: 5px;
    margin:10px;
    font-size: 12px;
    color: #888;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 0px 6px #888;
    overflow-x: none;
    overflow-y: auto;
}

.comment{
    border:solid #ddd 1px;
    padding: 5px;
    margin-top:30px;
    font-size: 12px;
    color: #888;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 0px 6px #ccc;
}
.codename{
clear: both;
    width: 100%;
    color:#4B575D;
    text-shadow: 0px 0px 3px #999;
    font-size: 18px;
    white-space:nowrap;
}
.codename small{
    color:#999;
    font-weight: 400;
    margin-right: 5px;
}

.body h1{
    font-size: 22px;
    padding: 2px;
    margin: 2px;
    color: #000;
}

.body h2{
    font-size: 18px;
    widows: 100%;
    top:0px;
    z-index: 10;
    text-transform: capitalize
}
.body h2 span{
    color:#269ccb;
    text-shadow: none;
}
body,td,th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #333;
}
.clr{
    clear: both;
}

.td{
    width:500px;
    color:#333;
    font-size:15px;
    padding: 5px;
    border:solid 1px #fff;
    background-color: #fefefe;
    box-shadow: 0 0 1px #ddd;
    -webkit-box-shadow: 0px 0px 1px #ddd;
    -moz-box-shadow: 0px 0px 1px #ddd;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.td:hover{
     background-color: #fff;
}
/************************************/

input[type="text"], input[type="password"], input[type="email"], textarea, select {
background: #fff;
border: 1px solid #ccc;
padding: 8px 8px;
outline: none;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
color: #444;
width: 200px;
max-width: 100%;
display: block;
margin-bottom: 15px;
width: 180px;
color: #999;
-moz-box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
-webkit-box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
border: 1px solid #d4d4d4;
}
 input[type="text"],input[type="password"] {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
    width: 400px;
    max-width: 100%;
    margin: 5px 0 0 0;
    margin-bottom: 30px;
}

 textarea {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
    width: 100%;
    max-width: 100%;
    margin: 5px 0 0 0;
}

 select {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
    width: 400px;
    max-width: 100%;
    margin: 5px 0 0 0;
    padding:8px;
}

.error{
    padding: 10px;
    margin: 30px;
    font-weight:bold;
    font-size: 16px;
    color: #000;
    background: #FFBFCF;

    box-shadow: 0 0 26px #800000;
    border: solid 1px #800000;
    test-shadow: 0px 0px 3px #800000;
}
/************************************/


input[type="submit"]{
    font-size: 16px;

background: rgb(224,224,224); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
border:solid 1px rgb(191,210,85);
    width:98px; height:28px;
    margin-top: 25px;
    margin-left:40%;
    margin-right:auto;
    box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
    cursor: pointer;
color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}
input[type="submit"]:hover{
    text-shadow: 0 0 5px #fff;
}
input[type="submit"]:focus{
    background: rgb(183,222,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,222,237,1)), color-stop(50%,rgba(113,206,239,1)), color-stop(51%,rgba(33,180,226,1)), color-stop(100%,rgba(183,222,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
color: #fff;
}


.content p.pages {
    margin:0 24px;
    padding:0 0 24px;
    font-size:13px;
    color:#616977;
    text-align:right;
}

a.button{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   background-color: #269ccb;
   padding: 10px;
   color: #fff;
   min-width: 80px;
   text-shadow: 0 0 0px #fff;
}
a.button:hover{
    text-shadow: 0 0 10px #fff;
}

.content p.pages span, .content p.pages a:hover {
    padding:8px 12px;
    color:#000;
    background-color:#fff;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;

}
.content p.pages span{
color: #fff;
background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

}


.content p.pages a { padding:8px 12px;
background: rgb(183,222,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,222,237,1)), color-stop(50%,rgba(113,206,239,1)), color-stop(51%,rgba(33,180,226,1)), color-stop(100%,rgba(183,222,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
color: #fff;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
          text-decoration:none; }
.content p.pages small { font-size:14px; float:left;}

