@charset "UTF-8";

#gallery ul.gallery.nav{
    position: relative;
    width: 100%;
    clear: both;
    height: 60px;
}
#gallery ul.gallery.nav li{
    float: left;
    font-size: 1.5em;
    margin-left: 20px;
}

#gallery .gallery.content{  
    display: none;
}



